@font-face {
    font-family: scholar;
    src: url(../../fonts/ScholarlyAmbitionRegular.ttf);
}
@font-face {
    font-family: Boneyard;
    src: url(../../fonts/BoneyardBrawl-rgBdy.ttf);
}
@font-face {
    font-family: Rocko;
    src: url(../../fonts/RockoFLF.ttf);
}
@font-face {
    font-family: RockoUltraBold;
    src: url(../../fonts/RockoUltraFLF-Bold.ttf);
}