.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.btn {
    border: none;
    background-color: transparent;
}
.btn:hover {
    cursor: pointer;    
    outline: 0.5px solid lightgrey;
}