.done {
    text-decoration: line-through;
    color: gray;
}

.todo-preview {
    padding-inline: 1em;
    flex: 1;
}

.todo-preview p:first-of-type {
    font-size: 1em;
    font-weight: 700;
}

.todo-preview p{
    font-size: 0.6em;
}
